{% if proxy_details.proxy_user != '' %}
http_proxy="http://{{ proxy_details.proxy_user }}:{{ proxy_details.proxy_password }}@{{ proxy_details.proxy_ip }}:{{ proxy_details.proxy_port}}"
https_proxy="http://{{ proxy_details.proxy_user }}:{{ proxy_details.proxy_password }}@{{ proxy_details.proxy_ip }}:{{ proxy_details.proxy_port}}"

{% elif proxy_details.proxy_user == '' %}
http_proxy="http://{{proxy_details.proxy_ip}}:{{proxy_details.proxy_port}}"
https_proxy="http://{{proxy_details.proxy_ip}}:{{proxy_details.proxy_port}}"
{% endif %}
no_proxy={{proxy_details.no_proxy}}
